.linea-vertical {
  width: 1px;
  height: 20px;
  background-color: black; }

.navegacion {
  background-color: #6daf73;
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  z-index: 100;
  position: fixed;
  top: 0; }

.div-nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.nav-boton {
  padding: 10px;
  margin: 0 auto; }
  .nav-boton a {
    text-decoration: none; }
  .nav-boton a:hover {
    color: #e9ffea; }

#main {
  margin-top: 50px; }

.div-principal {
  background-color: #e9ffea;
  margin: 5px 0;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.div-contacto-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.div-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px; }

.div-contacto-item {
  display: flex;
  justify-content: center;
  align-items: center; }
  .div-contacto-item h3 {
    margin-right: 10px; }

.div-horarios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.div-dia {
  height: 150px;
  border: 1px solid #6daf73;
  padding: 20px;
  margin: 20px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.div-turnos-mes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.div-turno {
  display: flex;
  justify-content: center;
  border: 1px solid #6daf73;
  margin: 10px; }
  .div-turno div {
    padding: 20px;
    margin: 20px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }

#div-subir {
  background-color: white;
  margin: 10px auto;
  width: 60px;
  padding: 0 20px;
  border-radius: 15px;
  text-align: center; }

* {
  font-family: 'Poppins', sans-serif;
  color: black; }

body {
  background-color: #6daf73;
  text-align: justify;
  margin: 0; }
