@import "base/variables";

@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
@mixin width-padding-margin{
    padding: 20px;
    margin: 20px;
    width: 100px;
}
@mixin flex-abajo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#main{
    margin-top: 50px;
}
.div-principal{
    background-color: $blanco-fondo;
    margin: 5px 0;
    padding: 30px 0px;
    width: 100%;
    @include flex-column;
}
.div-contacto-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.div-contacto{
    @include flex-column;
    padding: 20px;
}
.div-contacto-item{
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        margin-right: 10px;
    }
}
.div-horarios{
    @include flex-abajo;
}
.div-dia{
    height: 150px;
    border: 1px solid $verde-fondo;
    @include width-padding-margin;
    @include flex-column;
}
.div-turnos-mes{
    @include flex-abajo;
}
.div-turno{
    display: flex;
    justify-content: center;
    border: 1px solid $verde-fondo;
    margin: 10px;
    div{
        @include width-padding-margin;
        @include flex-column;
    }
}
.boton{
    text-decoration: none;
    :hover{
        text-decoration: underline;
    }
}
#div-subir{
    background-color: white;
    margin: 10px auto;
    width: 60px;
    padding: 0 20px;
    border-radius: 15px;
    text-align: center;
    transition: 1s;
    a{
        text-decoration: none;
    }
}
#div-subir:hover{
    transform: scale(1.1);
}