.navegacion{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-boton{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
}